/* styles.css */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid;
    padding: 5px 20px;

}
.banner-container {
    border: 1px solid;
}
.menu-container{
    display: flex;
}
.menu{
    border: 1px, solid;
    color: blueviolet;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 6px;
    border-radius: 6px;
    font-family: sans-serif;
}
.icon-logo {
    height: 45px;
    width: 45px;
    background-image: url(https://picsum.photos/200);
    background-size: cover;
    border: 1px, solid;
    border-radius: 50%;
}
.banner-img{
    height: 400px;
}
.profile-container {
    border: 1px solid;
    height: 350px;
}
.list-profile {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
#profile-item {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.form-container {
    justify-content: space-between;
}
#nama-container {
    display: flex;
}
#tl-container {
    display: flex;
}
#pw-container {
    display: flex;
    width: 50%;
    justify-content: none;
}
#pria {
    display: flex;
}
#textarea-container {
    display: flex;
}