/* styles.css */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid;
    padding: 5px 20px;

}

.banner-container {
    border: 1px solid;
}
.menu-container{
    display: flex;
}
.menu{
    border: 1px, solid;
    color: blueviolet;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 6px;
    border-radius: 6px;
    font-family: sans-serif;
}
.icon-logo {
    height: 45px;
    width: 45px;
    background-image: url(https://picsum.photos/200);
    background-size: cover;
    border: 1px, solid;
    border-radius: 50%;
}
#subtitle {
    margin-left: 10px;
    
}
.banner-img{
    height: 650px;
}
.image-slide {
    height: 350px;
}
#myimagesatu {
    height: 520px;
    width: 1290px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
}
#keterangan {
    margin-left: 10px;
    margin-right: 10px;
}
.profile-container {
    border: 1px solid;
    height: 350px;
    
}
.list-profile {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
#profile-wrapper {
    align-items: center;
}
#profile-item {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    
}
.data-container {
    border: 1px solid;
    height: 400px;
}
.data-collection {
    display: flex;
    justify-content: space-between;
    height: 400px;
    
}
#text-spacing {
    text-align: justify;
}
.data-entry {
    
    justify-content: space-between;
    display: contents;
}
.form-container {
    justify-content: space-between;
    width: 50%;
    margin: 10px 10px;
}
#nama-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#tl-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#pw-container {
    display: flex;
    width: 100%;
    

}
#jenis-kelamin {
    text-align-last: justify;
    margin-left: 10px;
    width: 105px;
    
}
#tipe-pw {
    text-align:left;
    display: block;
    align-content: center;
    padding-left: 5px;
}

#textarea-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.data-rekap {
    width: 50%;
    height: 250px;
    background-color: lavender;
    margin: 10px 10px;
}
input[type=text], [type=submit], [type=date] {
    width: 100%;
    margin-right: 10px;
    padding: 5px;

}
input[type=radio] {
  padding-right: 5px;  
    
    
}
label {
    width: 135px;
    text-align-last: justify;
    margin-left: 10px;
    padding-right: 5px;
}

textarea {
    width: 100%;
    margin-right: 10px;
}
@media only screen and (max-width: 600px) {
    .header-wrapper {
        flex-direction: column;
    }
    .menu-container{
        flex-direction: column;
        width: 100%;
    }
    .profile-container {
        flex-direction: column;
    }
    .list-profile {
        flex-direction: column;
    }
}