/* styles.css */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid;
    padding: 5px 20px;

}

.banner-container {
    border: 1px solid;
}
.menu-container{
    display: flex;
}
.menu{
    border: 1px, solid;
    color: blueviolet;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 6px;
    border-radius: 6px;
    font-family: sans-serif;
}
.icon-logo {
    height: 45px;
    width: 45px;
    background-image: url(https://picsum.photos/200);
    background-size: cover;
    border: 1px, solid;
    border-radius: 50%;
}
.banner-img{
    height: 400px;
}
.profile-container {
    border: 1px solid;
    height: 350px;
}
.list-profile {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
#profile-wrapper {
    align-items: center;
}
#profile-item {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    
}
.data-container {
    border: 1px solid;
    height: 400px;
}
.data-collection {
    display: flex;
    justify-content: space-between;
    height: 400px;
    
}
#text-spacing {
    text-align: justify;
}
.data-entry {
    
    justify-content: space-between;
    display: contents;
}
.form-container {
    justify-content: space-between;
    width: 50%;
    margin: 10px 10px;
}
#nama-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#tl-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#pw-container {
    display: block;
    width: 100%;
    justify-content: space-between;

}
#tipe-pw {
    text-align:left;
}

#textarea-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.data-rekap {
    width: 50%;
    height: 250px;
    background-color: lavender;
    margin: 10px 10px;
}
input[type=text], [type=submit], [type=date] {
    width: 100%;
}
label {
    width: 130px;
}